* {
    margin: 0;
    padding: 0;
    font-family: 'CormorantInfant-Regular';
    color: #121723;
}

.control {
    margin: 0 auto;
    max-width: 1596px;
    padding: 0 169px ;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF3E8;
}

header{
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #FFF3E8;
}

.header__nav-list-link{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 24px;    
    position: relative;
    transition: color .15s linear, background .15s linear;
}

.header__nav-list-link-account{
    margin-right: 30px;
    font-size: 24px;   
    right: 0;
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 70px;
    margin-right: 100px;
}

.header_block{
    display: flex;
    align-items: center;
}

.header__account{
    position: absolute;
    right: 169px;
}

.button{
    width: 141px;
    height: 42px;
    cursor: pointer;
    background-color: #DEE1FD;
    font-size: 24px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.intro{
    padding-top: 110px;
    padding-bottom: 250px;
}

.intro__title-text{
    font-size: 70px;
    font-family: 'CormorantInfant-Medium';
}

.text-two{
    display: flex;
    justify-content: end;
}

.text-three{
    margin-left: 60px;
}

.text-four{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-bottom: 50px;
}

.intro-bottom{
    margin: 0 auto;
}

.button_main{
    width: 260px;
    height: 80px;
    cursor: pointer;
    background-color: #DEE1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF; 
}

.about__me{
    margin-bottom: 295px;
}

.about__me-title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.about__me-information{
    display: flex;
    justify-content: center;
}

.about__me-photo{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
    margin-right: 100px;
}

.about__me-photo-iam{
    max-width: 340px;
}

.about-us__name-text-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.about-us__name-text-main-one{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    max-width: 590;
    margin-bottom: 10px;
}

.about-us__name-text-main-two{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    max-width: 590;
    margin-bottom: 28px;
}

.services__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.def{
    width: 301px;
    padding: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.services__def-img{
    margin-bottom: 10px;
    width: 300px;
}

.services__def-title{
    font-size: 36px;
    width: 100px;
}

.services__def-text{
    font-size: 20px;
    width: 150px;
    color: #4d5057;
    margin-bottom: 30px;
}

.services__bottom{
    margin: 0 auto;
}

.services__slider{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1160px;
    height:640px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.services{
    margin-bottom: 250px;
}

.services__slider-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services__button{
    width: 80px;
}

.services__button-details{
    display: flex;
    gap: 10px;
}

.circle{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stages{
    margin-bottom: 250px;
}

.stages__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.stages__details{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.stage{
    font-size: 30px;
    padding: 18px 30px;
    border: 2px solid #121723;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stage_four{
    padding: 18px 22px;
    border: none;
    background-color: #DEE1FD;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stages__point{
    width: 30px;
}

.stages__line{
    height: 2px;
    width: 286px;
}

.stages__text{
    display: flex;
    gap: 116px;
}

.stages__text-title{
    font-size: 36px;
    margin-bottom: 10px;
    width: 100px;
}

.stages__text-podtext{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    width: 250px;
}