* {
    margin: 0;
    padding: 0;
    font-family: 'CormorantInfant-Regular';
    color: #121723;
}

:root{
    --el : 0
}

.control {
    margin: 0 auto;
    width: 1300px;
    padding: 0 169px ;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF3E8;
}

.authorization{
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 30px;
    width: 1000px;
    height: 500px;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.authorization__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.authorization__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.authorization__name{
    width: 350px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: background .15s linear;
    text-transform: capitalize
}

.authorization__date{
    width: 350px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
}

.authorization__radio__block{
    display: flex;
}

.authorization__radio{
    transform:scale(3);
    margin-left: 15px;
    height: 10px;
}

.radio__one{
    margin-right: 40px;
    margin-top: 30px;
    height: 30px;
}

.radio__two{
    margin-top: 30px;
    height: 30px;
}

.authorization__text{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    max-width: 590;
    margin-right: 10px;
    margin-top: 30px;
}

.authorization__btn{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
}

header{
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #FFF3E8;
}

.header__nav-list-link{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 24px;    
    position: relative;
    transition: color .15s linear;
}

.header__nav-list-link:hover{
    color: #AA9DFA;
}

.header__nav-list-link:active{
    color: #121723;
    background-color: #AA9DFA ;
    box-shadow: 0 0 20px #AA9DFA,
                inset 0 0 20px #FFF3E8;
}

.header__nav-list-link-account{
    margin-right: 30px;
    font-size: 24px;   
    right: 0;
}

.header__nav-list {
    display: flex;
    list-style: none;
    gap: 70px;
    margin-right: 100px;
}

.header_block{
    display: flex;
    align-items: center;
}

.header__account{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.button{
    width: 141px;
    height: 42px;
    cursor: pointer;
    background-color: #DEE1FD;
    font-size: 24px;
    border-radius: 100px;
    border: none;
    transition: background .15s linear;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.button:hover{
    background-color: #c3c9ef;
}

.button:active{
    background-color: #99a3da;
}

.intro{
    padding-top: 110px;
    padding-bottom: 110px;
}

.intro__title-text{
    font-size: 70px;
    font-family: 'CormorantInfant-Medium';
}

.text-two{
    display: flex;
    justify-content: end;
}

.text-three{
    margin-left: 60px;
}

.text-four{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-bottom: 50px;
}

.intro-bottom{
    margin: 0 auto;
}

.button_main{
    width: 260px;
    height: 80px;
    cursor: pointer;
    background-color: #DEE1FD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: background .15s linear;
    border-radius: 100px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF; 
}

.button_main:hover{
    background-color: #c3c9ef;
}

.button_main:active{
    background-color: #99a3da;
}

.about__me{
    margin-bottom: 256px;
    margin-top: 110px;
}

.about__me-title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.about__me-information{
    display: flex;
    justify-content: center;
}

.about__me-photo{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
    margin-right: 100px;
}

.about__me-photo-iam{
    max-width: 340px;
}

.about-me__name-text-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.about-me__name-text-main-one{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    max-width: 590;
    margin-bottom: 10px;
}

.about-me__name-text-main-two{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    max-width: 590;
    margin-bottom: 28px;
}

.up__btn{
    margin-top: 100vw;
}

.up{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
    border: none;
    outline: none;
    cursor: pointer;
    color: #a091fd;
    transition: color .15s linear;
}

.up__btn:hover .up{
    color: #7b71bc;
}

.up__btn:active .up{
    color: #4b4987;
}

.services__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.def{
    width: 301px;
    padding: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
    transition: 1s;
    transform: translateX(var(--el));
}

.services__def{
    width: 301px;
    padding: 25px;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.circle_one{
    background-color: #AA9DFA;
}

.services__def-img{
    margin-bottom: 10px;
    width: 300px;
}

.services__def-title{
    font-size: 36px;
    width: 100px;
    list-style: none;
}

.services__def-text{
    font-size: 20px;
    width: 150px;
    color: #4d5057;
    margin-bottom: 30px;
}

.services__bottom{
    margin: 0 auto;
}

.services__slider{
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
    width: 1280px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.services{
    margin-bottom: 256px;
    margin-top: 110px;
}

.services__slider-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services__button{
    width: 80px;
}

.services__button-details{
    display: flex;
    gap: 10px;
}

.search{
    width: 500px;
    height: 80px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #121723;
    background-color: #FFF3E8;
    padding: 0 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-transform: capitalize
}

.services__search{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.services__services-one{
    display: grid;
    grid-template-rows: repeat(2);
    row-gap: 30px;
    grid-template-columns: 2fr 2fr 1.5fr;
    margin-bottom: 30px;
}

.services__services-two{
    display: flex;
    gap: 120px;
}

.none__services{
    display: none;
}

.circle{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stages{
    margin-bottom: 250px;
}

.stages__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.stages__details{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.stage{
    font-size: 30px;
    padding: 18px 30px;
    border: 2px solid #121723;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stage_four{
    padding: 18px 22px;
    border: none;
    background-color: #DEE1FD;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 -10px 20px #FFF;
}

.stages__point{
    width: 30px;
}

.stages__line{
    height: 2px;
    width: 286px;
}

.stages__text{
    display: flex;
    gap: 116px;
}

.stages__text-title{
    font-size: 36px;
    margin-bottom: 10px;
    width: 100px;
}

.stages__text-podtext{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    width: 250px;
}

.feedback{
    margin-bottom: 110px;
}

.feedback__title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.feedback__podtext{
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.comment{
    width: 500px;
    height: 80px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #121723;
    background-color: #FFF3E8;
    padding: 0 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-transform: capitalize
}

.feedback__comment{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #DEE1FD;
}

.footer{
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__block{
    display: flex;
    margin-bottom: 30px;
}

.footer__nav{
    display: flex;
    flex-direction: column;
}

.footer__nav-list-link{
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 24px;    
    position: relative;
}

.footer__nav-list-link:hover{
    color: #AA9DFA;
}

.footer__nav-list-link:active{
    color: #121723;
    background-color: #AA9DFA ;
    box-shadow: 0 0 20px #AA9DFA,
                inset 0 0 20px #FFF3E8;
}

.footer__nav-list {
    list-style: none;
    gap: 70px;
    margin-right: 100px;
}

.icon{
    width: 40px;
    cursor: pointer;
}

.footer__icons{
    position: absolute;
    right: 169px;
}

.footer__years{
    background-color: #DEE1FD;
    text-align: center;
}

.order{
    margin-top: 110px;
    margin-bottom: 220px;
}

.order-title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px;
}

.order__services{
    margin-bottom: 50px;
}

.order__one-title{
    font-size: 36px; 
    margin-bottom: 30px;   
}

.order__radio-block{
    display: flex;
    justify-content: start;
    gap: 10px;
}

.order__radio-text{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
}

.order__price-block{
    width: 200px;
    height: 80px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #121723;
    background-color: #FFF3E8;
    padding: 0 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-transform: capitalize
}

.order__comment-block{
    width: 400px;
    height: 200px;
    font-size: 24px;
    text-align: start;
    border-radius: 50px;
    border: 2px solid #12231a;
    background-color: #FFF3E8;
    padding: 30px 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-transform: capitalize
}

.order__main-block{
    display: flex;
    gap: 530px;
    margin-bottom: 30px;
}

.order__buttom{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.account{
    margin-top: 110px;
    margin-bottom: 220px;
}

.account-title{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 80px; 
}

.account-podtitle{
    font-size: 36px; 
    margin-bottom: 30px; 
}

.output{
    font-family: 'CormorantInfant-Light'; 
    font-size: 24px;
    padding-bottom: 20px;
}

.account__block{
    display: flex;
    gap: 10px;
    align-items: center;
}

.account__buttom{
    display: flex;
    justify-content: center;
    margin-top: 240px;
    align-items: center;  
}

.account__number-block{
    width: 600px;
}


.account__main{
    display: flex;
}

.slider{
    margin-bottom: 80px;
    margin-top: 110px;
}

.slide_def{
    width: 800px;
    margin: 0 auto;
    transition: 1s;
    transform: translateX(var(--el));
}

.slide__title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'CormorantInfant-Medium';
    margin-bottom: 30px;
}

.slide__podtitle{
    width: 800px;
    font-family: 'CormorantInfant-Light';
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 80px;
}

.slide__question{
    width: 800px;
    font-family: 'CormorantInfant-Bold';
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.slider__radio{
    margin-bottom: 30px;
}

.slider__button{
    margin: 0 auto;
    margin-top: 80px;
}

.answer{
    font-size: 24px;
    font-family: 'CormorantInfant-Light';
}

.radio{
    margin-right: 10px;
}

.slider__answer{
    display: flex;
}

.buttons{
    display: flex;
    gap: 10px;
}

.answer_text{
    width: 300px;
    height: 40px;
    font-size: 24px;
    display: flex;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid #121723;
    background-color: #FFF3E8;
    padding: 0 30px;
    margin-bottom: 30px;
    text-transform: capitalize
}

.result_question{
    width: 1500px;
    display: flex;
    font-family: 'CormorantInfant-Regular';
    font-size: 24px;
    gap: 10px;
}

.slider_result{
    font-family: 'CormorantInfant-regular';
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.slider_result{
    margin-bottom: 30px;
}

:root{
    --el : 0
}

.test__slider{
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
}